{% load cache %}
{% load static %}
{% load tree_tags %}


<html>
<head >
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Stamboom van {{ root_ancestor }}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/balloon.css' %}">

</head>
<body>

    <h1>Stamboom van {{ root_ancestor }}</h1>
    <ul class="tree">
        <li class="root">
        {% cache 3600 tree root_ancestor descendant %}
        {% render_tree root_ancestor descendant %}
        {% endcache %}
        </li>
    </ul>

    <script type="text/javascript">
        (function() {
            var links = document.querySelectorAll("[data-url]");

            for (var i = 0; i < links.length; i++) {
                links[i].addEventListener(
                    'click',
                    function() {
                        var url = this.getAttribute("data-url");
                        location.href = url;
                    },
                    false
                );
            }

        })();
    </script>

</body>
</html>
