{% load cache %}
{% load static %}
{% load tree_tags %}


<html>
<head >
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Stamboom van {{ root_ancestor }}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <h1>Stamboom van {{ root_ancestor }}</h1>
    <ul class="tree">
        <li class="root">

        {% render_tree root_ancestor %}

        </li>
    </ul>

    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@5"></script>

    <script type="text/javascript">
        (function() {

            function addLinkEvents(links) {
                for (var i = 0; i < links.length; i++) {
                    links[i].addEventListener(
                        'click',
                        function followLink() {
                            var url = this.getAttribute("data-url");
                            location.href = url;
                        },
                        false
                    );
                }
            }

            tippy('[data-meta-id]', {
                content(reference) {
                    const id = reference.getAttribute('data-meta-id');
                    const template = document.getElementById(id);
                    return template.innerHTML;
                },
                allowHTML: true,
                interactive: true
            });

            var links = document.querySelectorAll("[data-url]");
            addLinkEvents(links);

        })();
    </script>

</body>
</html>
