{% load rest_framework %}


<h2>Search</h2>
<form class="form">
    {% block search_fields %}
    {% endblock %}
    <div class="form-actions" style="float: left; padding-top: 25px; padding-bottom: 25px">
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
    </div>
</form>
<br>
<h2 style="clear: left">Ordering</h2>
<div class="list-group">
    {% for key, val in order_by_options %}
        {% if order_by == key %}
        <a href="{% add_query_param request ordering_param key %}" class="list-group-item active">
            <span class="glyphicon glyphicon-ok" style="float: right" aria-hidden="true"></span> {{ val }}
        </a>
        {% else %}
        <a href="{% add_query_param request ordering_param key %}" class="list-group-item"> {{ val }}</a>
        {% endif %}
    {% endfor %}
</div>
