{% load rest_framework %}
{% load i18n %}
<h2>{% trans "Search" %}</h2>
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" style="width: 350px" name="{{ search_param }}" value="{{ search_query }}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
      </span>
    </div>
  </div>
</form>
<br>
<h2>{% trans "Ordering" %}</h2>
<div class="list-group">
    {% for key, val in order_by_options %}
        {% if order_by == key %}
        <a href="{% add_query_param request ordering_param key %}" class="list-group-item active">
            <span class="glyphicon glyphicon-ok" style="float: right" aria-hidden="true"></span> {{ val }}
        </a>
        {% else %}
        <a href="{% add_query_param request ordering_param key %}" class="list-group-item"> {{ val }}</a>
        {% endif %}
    {% endfor %}
</div>
